.Form_Control {
    display: flex;
    flex-direction: column;
    margin-bottom: 1em;
}

.Form_Control label {
    margin-bottom: .6em;
    font-weight: bold;
}

.Form_Control select {
    padding: .7em;
    border-radius: 0;
    border: none;
}

